.header-container {
  position: fixed;
  width: 100vw;
  height: 8vh;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.07), 0 1px 6px rgba(0, 0, 0, 0.07);
  display: flex;
  background-color: white;
  justify-content: center;
  z-index: 10;
  img {
    height: 100%;
  }
}

.footer-container {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 8vh;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.07), 0 1px 6px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;
  z-index: 10;
  h3 {
    margin: auto;
  }
}
