.header-container {
  width: 100vw;
  height: 8vh;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.07), 0 1px 6px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;

  img {
    height: 100%;
  }
}

.footer-container {
  width: 100vw;
  height: 8vh;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.07), 0 1px 6px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;

  h3 {
    margin: auto;
  }
}
