$filter-font-size: 16px;

.home-container {
  height: 84vh;

  .product-container {
    box-sizing: border-box;

    height: 100%;
    padding: 30px 100px;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .search-from-field {
    width: 200px;
    .search-form-field-label {
      font-size: 20px;
    }
  }
  .search-filter {
    margin-left: 15px;
    height: 32px;
  }

  .checkbox-filter {
  }

  .pagination-per-page {
    margin-left: auto;
  }
}

mat-checkbox::ng-deep.mat-checkbox-inner-container {
  width: 20px;
  height: 20px;
}

input {
  margin-top: 5px;
  font-size: 22px !important;
}

.product-container {
  // padding-top: 0px !important;
  overflow-y: scroll;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  max-height: 70vh;
  z-index: 1;
  // overflow-y: hidden;
  .product-card {
    box-sizing: border-box;
    min-width: 300px;
    max-width: 350px;
    min-height: 500px;
    max-height: 550px;
    margin: 20px;
  }
}

.product-avatar-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-card {
  mat-card-actions {
    display: flex;
    justify-content: center;
  }
}

.product-paginator {
  width: 100vw;
  font-size: 20px;
}

.filter-text {
  font-size: $filter-font-size;
  margin-bottom: 0px;
}
