<div class="home-container">
  <div class="product-container">
    <div class="search-container">
      <mat-form-field class="search-from-field">
        <mat-label class="search-form-field-label"
          >Search for products</mat-label
        >
        <input
          matInput
          #searchInput
          placeholder="Ex. Adibas"
          value=""
          (keyup.enter)="onEnter()"
          (keyup)="onSearchChange()"
        />
      </mat-form-field>
      <mat-checkbox class="search-filter checkbox-filter" [color]="'primary'">
        <p class="filter-text">Available</p>
      </mat-checkbox>
      <mat-checkbox class="search-filter checkbox-filter" [color]="'primary'">
        <p class="filter-text">Available</p>
      </mat-checkbox>
      <mat-checkbox class="search-filter checkbox-filter" [color]="'primary'">
        <p class="filter-text">Available</p>
      </mat-checkbox>
      <mat-checkbox class="search-filter checkbox-filter" [color]="'primary'">
        <p class="filter-text">Available</p>
      </mat-checkbox>
      <div class="search-filter pagination-per-page">
        <p class="filter-text">
          View
          <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
            <option>5</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
          </select>
          records at a time.
        </p>
      </div>
    </div>
    <div class="items-list">
      <mat-card *ngFor="let product of products" class="product-card">
        <mat-card-header>
          <div mat-card-avatar class="product-avatar-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Buy</button>
        </mat-card-actions>
      </mat-card>
      <ngb-pagination
        [collectionSize]="120"
        [(page)]="page"
        [maxSize]="3"
        [rotate]="true"
        [boundaryLinks]="true"
        class="product-paginator d-flex justify-content-center"
      ></ngb-pagination>
    </div>
  </div>
</div>
